.homepage__title {
  color: #adb5bd;
  font-weight: 500;
  text-transform: uppercase;
}

.homepage-products__grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}

.homepage-product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-product__image {
  width: 70%;
}

.homepage-product__name:link,
.homepage-product__name:visited {
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.homepage-product__name:hover,
.homepage-product__name:active {
  text-decoration: underline;
}

.homepage-product__seller,
.homepage-product__price {
  font-size: 0.8rem;
  color: #adb5bd;
  font-weight: 500;
}
