.thumbnail {
    width: 100%;
    height:auto;
    background-size: auto;
}
.brand {
    font-size: 48px;
    font-weight: bold;
}
.slogan {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 60px;
}
.left, .right {
    padding: 0 !important
}
.content {
    padding-top: 40px;
    padding-left: 100px;
    padding-right:150px;
}
.lgbtn {
    background-color: #3F3F3F;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.lgbtn:hover{
    background-color: rgb(31, 31, 31);
}
form {
    margin-bottom: 40px;
}
body {
    overflow: hidden;
}