.content>p {
    color: #ADB5BD;
    font-weight: bold;
}
.content {
   width:80%;
}
.row {
    clear: left;
}
h1 {
    float:left;
}
.btn--add {
    font-size: 14px;
    background-color: #3F3F3F;
    padding: 10px 45px;
    border-radius: 0;
    font-weight: bold;
   
}

@media (min-width: 576px) {
    .btn--add {
        margin-left: 200px;
    }
    
}

.pageChanger{
    margin-bottom:24px;
    margin-top: 12px;
}

.pagination a{
    margin: 0 12px;
    color: black;
    font-weight: bold;
    border-width: 1px;
    border-color:#3F3F3F;
    border-radius:0 !important;
}
.pagination a:hover{
    color: black;
    border-color:#afa7a7;
}
.pagination a.active {
    background-color: #3F3F3F;
    color: white;
    font-weight: bold;
}
a {
    margin-bottom: 20px;
}
.product--name{
    font-weight: bold;
    font-size: 18px;
    margin-top:20px;
    color: black;
}
.product--price {
    color: #3F3F3F;
}
.product--date {
    color: #868E96;
}
a {
    text-decoration: none;
}
