<main class="container-fluid homepage-container">
  <section class="section-content py-3">
    <div class="row">
      {{>aside}}
      <section class="homepage-content col-lg-8">
        <p class="homepage__title">Products</p>
        <h3 class="header-tertiary">Products from KIM BIEN</h3>
        <ul class="homepage-products__grid">
          <li class="homepage-product__container">
            <img
              class="homepage-product__image"
              alt="product image"
              src="/images/products/thumbnails/product_62a03a8ed98a4ad0f980ec82_thumbnail.jpg"
            />
            <a
              class="homepage-product__name"
              href="./authenticatedDetailItem.html"
            >Item 1</a>
            <p class="homepage-product__seller">Seller Name</p>
            <p class="homepage-product__price">$1000</p>
          </li>
        </ul>
      </section>
    </div>
  </section>
</main>