.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid #000;
}

.header__shop-name {
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}

.header__search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  padding: 2px 8px;
  gap: 200px;
  margin-right: 32px;
}

.header__icon {
  font-size: 24px;
  cursor: pointer;
}

.header__icon--inactive {
  color: #ced4da;
}

.header__input {
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}

.header__input:focus {
  outline: none;
}

.header__input::placeholder {
  font-family: inherit;
  color: #ced4da;
}

.header__icons {
  list-style: none;
  display: flex;
  gap: 16px;
}

/* For unauthenticated header only */
.header__auth-container {
  display: flex;
  gap: 12px;
}

.header__auth-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.header__auth-button--login::after {
  content: "";
  display: inline-block;
  height: 100%;
  border-right: 2px solid #000;
  margin-left: 12px;
}
