.buttons-test {
  /*THIS CLASS IS ONLY FOR TESTING*/
  padding: 12px;
  display: flex;
  gap: 30px;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "Lora";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  border: none;
  background: none;
  text-decoration: none;

  padding: 12px 40px;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  transition: all 0.3s;
}

.btn--black {
  color: #f8f9fa;
  background-color: #3f3f3f !important;
}

.btn--black:hover,
.btn--black:active {
  background-color: #323232 !important;
}

.btn--black-border {
  color: #3f3f3f;
  background-color: #f8f9fa;
  box-shadow: 0 0 0 2px #000 inset;
}

.btn--black-border:hover,
.btn--black-border:active {
  background-color: #dfe0e1;
}
