* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora" !important;
  font-weight: 400;
  min-height: 100%;
}

.header-tertiary {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.hidden {
  display: none;
}
