
.pageChanger{
    margin-bottom:24px;
    margin-top: 12px;
}

.pagination a{
    margin: 0 12px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.pagination a.active {
    background-color: black;
    color: white;
    font-weight: bold;
}

