.profilePageName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 44px;
  font-weight: bold;
  color: rgb(164, 153, 102);
}

.profileMainBanner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  background-color: rgb(222, 226, 230);
}

.profileMainBoard {
  background-color: white;
  border-radius: 24px;
}

.profileContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formProfile {
  width: 60%;
  font-weight: bold;
}

.formProfile div {
  margin-bottom: 16px;
}

.avatarField {
  width: 80%;
}

.saveButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveButton {
  margin-top: 12px;
  height: 60px;
  font-size: 30px;
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .profileMainBanner {
    justify-content: center;
    align-items: center;
  }

  .avatarField input {
    font-size: 2vw;
  }

  .saveButton {
    font-size: 3vw;
  }
}

.profile__avatar-container {
  display: flex;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.profile__avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.profile__infos {
  display: flex;
  flex-direction: column;
  gap: -2px;
  align-items: center;
}

.profile__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__info ion-icon {
  font-size: 1.5rem;
}

.profile__phone-number {
  margin-bottom: 3rem;
}

.profile__description {
  margin-bottom: 4rem;
}

.profile__button-container {
  text-align: center;
}

.seller .profile__description {
  margin-bottom: 0rem;
}

.seller {
  display: flex;
  justify-content: center;
}
