<aside class="col-lg-2">
  <nav class="sidebar py-2 mb-4">
    <ul class="nav flex-column px-4" id="nav_accordion">
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between fw-bold"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item1"
          href="#"
        >
          Categories
          <ion-icon name="chevron-down-outline"></ion-icon>
        </a>
        <ul id="menu_item1" class="submenu collapse">
          <li><a class="nav-link" href="#">Submenu item 1 </a></li>
          <li><a class="nav-link" href="#">Submenu item 2 </a></li>
          <li><a class="nav-link" href="#">Submenu item 3 </a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between fw-bold"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item2"
          href="#"
        >
          Filters
          <ion-icon name="chevron-down-outline"></ion-icon></a>
        <ul id="menu_item2" class="submenu collapse">
          <li><a class="nav-link" href="#">Submenu item 4 </a></li>
          <li><a class="nav-link" href="#">Submenu item 5 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between fw-bold"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item3"
          href="#"
        >
          Sort by
          <ion-icon name="chevron-down-outline"></ion-icon></a>
        <ul id="menu_item3" class="submenu collapse">
          <li><a class="nav-link" href="#">Submenu item 4 </a></li>
          <li><a class="nav-link" href="#">Submenu item 5 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>