<aside class="col-lg-3">
  <nav class="sidebar pb-2 my-4">
    <ul class="nav flex-column px-4" id="nav_accordion">
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between fw-bold order__cart-profile-link"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item1"
          href="#"
        >
          Cart
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between fw-bold order__history-profile-link"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item2"
          href="#"
        >
          History
        </a>
      </li>
    </ul>
  </nav>
</aside>
<link rel="stylesheet" href="/css/sidebar.css" />