<aside class="col-lg-3">
  <nav class="sidebar pb-2 my-4">
    <ul class="nav flex-column px-4" id="nav_accordion">
      <li class="nav-item">
        <a
            class="nav-link d-flex justify-content-between profile__product-profile-link"
            data-bs-toggle="collapse"
            data-bs-target="#menu_item1"
            href="#"
        >
        Profile
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link d-flex justify-content-between profile__product-manager-link"
          data-bs-toggle="collapse"
          data-bs-target="#menu_item2"
          href="#"
        >
        Product Manager
        </a>
        </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between profile__product-profit-link"
              data-bs-toggle="collapse"
              data-bs-target="#menu_item3"
              href="#"
            >
            Profit summary
            </a>
          </li>
      </ul>
    </nav>
</aside>