<section class= "checkOutMainBanner col-lg-6">
  <form class="formCheckOut" action="/api/v1/orders/checkout" method="post" id="checkoutForm">
    <div class="checkoutPage checkOutMainBoard m-4">
      <div class="checkOutContent m-4">
        <div class="checkoutInfo">
          <div class="nameField">
            <label for="Username" class="form-label">Họ và Tên:</label>
            <input
              type="text"
              class="form-control"
              id="Username"
              name="checkout[name]"
              required
            />
          </div>
          <div class="phoneField">
            <label for="PhoneNumber">Số điện thoại:</label>
            <input type="tel" class="form-control" id="PhoneNumber"
            name="checkout[phoneNumber]" pattern="[0-9]{10}"
            required>
          </div>
          <div class="provinceField">
            <label for="Province">Tỉnh:</label>
            <input
              type="text"
              class="form-control"
              id="Province"
              name="checkout[province]"
              required
            />
          </div>
          <div class="districtAndWardField">
            <div class="districtField">
              <label for="District">Quận/Huyện:</label>
              <input
                type="text"
                class="form-control"
                id="District"
                name="checkout[district]"
                required
              />
            </div>
            <div class="wardField">
              <label for="Ward">Phường/Xã:</label>
              <input
                type="text"
                class="form-control"
                id="Ward"
                name="checkout[ward]"
                required
              />
            </div>
          </div>
          <div class="addressField">
            <label for="Address">Địa chỉ:</label>
            <input
              type="text"
              class="form-control"
              id="Address"
              name="checkout[address]"
              required
            />
          </div>
        </div>
        <div class="otherInfo">
          <div class="productCost costField">
            <p class="costFieldName">Tiền hàng:</p>
            <p class="costValue">300$</p>
          </div>
          <div class="transportCost costField">
            <p class="costFieldName">Phí vận chuyển:</p>
            <p class="costValue">20$</p>
            <input type="hidden" name="order[transportPrice]" value=20>
          </div>
          <div class="extraCost costField">
            <p class="costFieldName">Phụ phí khác:</p>
            <p class="costValue">5$</p>
            <input type="hidden" name="order[surcharge]" value=5>
          </div>
          <hr />
          <div class="sumCost costField">
            <p class="costFieldName">Total:</p>
            <p class="costValue">325$</p>
          </div>
          <input type="submit" value="Confirm" class="confirmButton btn btn-dark w-100">
          </input>
        </div>
      </div>
      <div class="backPageFeature m-4">
        <a class="backPageText" href="/api/v1/orders/checkout">
          <ion-icon
            name="arrow-back-outline"
            class="arrowLeft__icon"
          ></ion-icon
          >Back to my cart
        </a>
      </div>
    </div>
    <div class="cartPage checkOutMainBoard m-4">
      <div class="checkOutContent m-4">
        <ul class="cart__list">

        </ul>
      </div>
      <div class="backPageFeature m-4">
        <div class="cart__options">
          <a class="cartBackPageText backPageText" href="/api/v1/products">
            <ion-icon
              name="arrow-back-outline"
              class="arrowLeft__icon"
            ></ion-icon>Back to shopping
          </a>
          <a class="cartCheckout backPageText" href="#">
            Checkout
            <ion-icon
              name="arrow-forward-outline"
              class="arrowLeft__icon"
            ></ion-icon>
            </a>
        </div>
      </div>
    </div>
  </form>
</section>

<link rel="stylesheet" href="/css/checkOutPage.css" />
<script src="/javascript/cart.js" defer></script>
<script type="text/javascript">
  const cartPage = document.querySelector(".cartPage");
  const checkoutPage = document.querySelector(".checkoutPage");

  const checkoutButton = document.querySelector(".cartCheckout");
  const backToCart = document.querySelector(".backPageText");
  const form = document.forms['checkoutForm'];

  //const collect
  const collect = function() {
    const els = document.querySelectorAll('.cart__item');
    products = []
    els.forEach((item, idx) => {
      console.log(idx);
      console.log(item.getAttribute("data-id"));
      console.log(item.getElementsByTagName("input")[0].getAttribute("value"));
    });

  }

  //adding events
  hideElement(checkoutPage);
  checkoutButton.addEventListener("click", () => { 
    collect();
    showElement(checkoutPage);
    hideElement(cartPage);
  });
</script>