<div class="checkOutPage">
  <div class="checkOutPageName">Shopping Cart</div>
  <section class="checkOutMainBanner container-fluid">
    <div class="checkOutMainBoard m-4">
      <div class="checkOutContent m-4">
        <ul class="cart__list">

        </ul>
      </div>
      <div class="backPageFeature m-4">
        <div class="cart__options">
          <a class="backPageText" href="/">
            <ion-icon
              name="arrow-back-outline"
              class="arrowLeft__icon"
            ></ion-icon>Back to shopping
          </a>
          <a class="backPageText" href="./checkOutPage.html">
            Checkout
            <ion-icon
              name="arrow-forward-outline"
              class="arrowLeft__icon"
            ></ion-icon></a>
    <div class="checkOutPage">
      <div class="checkOutPageName">Shopping Cart</div>
      <section class="checkOutMainBanner container-fluid">
        <div class="checkOutMainBoard m-4">
          <div class="checkOutContent m-4">
            <ul class="cart__list">
              <li class="cart__item">
                <div class="cart__item-image-container">
                  <img
                    src="./images/item-1.jpg"
                    alt="Item image"
                    class="cart__item-image"
                  />
                </div>

                <p class="cart__item-name">Túi xách</p>

                <div class="basic-info__price-container">
                  <div class="basic-info__counter">
                    <button
                      class="basic-info__counter-btn basic-info__counter-minus"  
                    >
                      -
                    </button>
                    <input
                      class="basic-info__counter-input"
                      type="number"
                      value="1"
                      required
                    />
                    <button
                      class="basic-info__counter-btn basic-info__counter-plus"
                    >
                      +
                    </button>
                  </div>
                </div>

                <p class="cart__item-price">$699</p>

                <ion-icon
                  name="close-outline"
                  class="cart__item-remove-icon"
                ></ion-icon>
              </li>

              <li class="cart__item">
                <div class="cart__item-image-container">
                  <img
                    src="./images/item-1.jpg"
                    alt="Item image"
                    class="cart__item-image"
                  />
                </div>

                <p class="cart__item-name">Túi xách</p>

                <div class="basic-info__price-container">
                  <div class="basic-info__counter">
                    <button
                      class="basic-info__counter-btn basic-info__counter-minus"
                    >
                      -
                    </button>
                    <input
                      class="basic-info__counter-input"
                      type="number"
                      value="1"
                      required
                    />
                    <button
                      class="basic-info__counter-btn basic-info__counter-plus"
                    >
                      +
                    </button>
                  </div>
                </div>

                <p class="cart__item-price">$699</p>

                <ion-icon
                  name="close-outline"
                  class="cart__item-remove-icon"
                ></ion-icon>
              </li>

              <li class="cart__item">
                <div class="cart__item-image-container">
                  <img
                    src="./images/item-1.jpg"
                    alt="Item image"
                    class="cart__item-image"
                  />
                </div>

                <p class="cart__item-name">Túi xách</p>

                <div class="basic-info__price-container">
                  <div class="basic-info__counter">
                    <button
                      class="basic-info__counter-btn basic-info__counter-minus"
                    >
                      -
                    </button>
                    <input
                      class="basic-info__counter-input"
                      type="number"
                      value="1"
                      required
                    />
                    <button
                      class="basic-info__counter-btn basic-info__counter-plus"
                    >
                      +
                    </button>
                  </div>
                </div>

                <p class="cart__item-price">$699</p>

                <ion-icon
                  name="close-outline"
                  class="cart__item-remove-icon"
                ></ion-icon>
              </li>
            </ul>
          </div>
          <div class="backPageFeature m-4">
            <div class="cart__options">
              <a class="backPageText" href="/">
                <ion-icon
                  name="arrow-back-outline"
                  class="arrowLeft__icon"
                ></ion-icon
                >Back to shopping
              </a>
              <a class="backPageText" href="./checkout">
                Checkout
                <ion-icon
                  name="arrow-forward-outline"
                  class="arrowLeft__icon"
                ></ion-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<link rel="stylesheet" href="/css/checkOutPage.css" />
<link rel="stylesheet" href="/css/detail-item.css" />
<script src="/javascript/cart.js" defer></script>