<div class="checkOutPage">
  <div class="checkOutPageName">Shopping Cart</div>
  <section class="checkOutMainBanner container-fluid">
    <div class="checkOutMainBoard m-4">
      <div class="checkOutContent m-4">
        <ul class="cart__list">

        </ul>
      </div>
      <div class="backPageFeature m-4">
        <div class="cart__options">
          <a class="backPageText" href="/">
            <ion-icon
              name="arrow-back-outline"
              class="arrowLeft__icon"
            ></ion-icon>Back to shopping
          </a>
          <a class="backPageText" href="./checkOutPage.html">
            Checkout
            <ion-icon
              name="arrow-forward-outline"
              class="arrowLeft__icon"
            ></ion-icon></a>
        </div>
      </div>
    </div>
  </section>
</div>
<link rel="stylesheet" href="/css/checkOutPage.css" />
<link rel="stylesheet" href="/css/detail-item.css" />
<script src="/javascript/cart.js" defer></script>