
    <div class="not-found">
      <header class="not-found__header">
        <h2 class="not-found__404">{{errorNumber}}</h2>
        <h3 class="not-found__title">Please go back</h3>
      </header>
      <p class="not-found__message">
        {{message}}
      </p>
    </div>

  <link rel="stylesheet" href="/css/errorPage.css"/>