<footer class="footer container-fluid">
  <hr />
  <p class="companyInfor">
    Cong ty co phan thuong mai mot thanh vien<br />
    Web ban hang Kim Bien
  </p>
  <p class="webCopyright">Copyright &copy; 2022 by group02</p>
</footer>