<header class="header">
  <div class="header__content">
    <p class="header__shop-name">Kim Bien</p>

    <form action="/api/v1/search" method="get" id="SearchForm">
      <div class="header__search-bar">
        <input
          class="header__input"
          type="text"
          placeholder="Search an item"
          name="q"
        />
        <button type="submit">
          <ion-icon
            type="submit"
            name="search-outline"
            class="header__icon"
          ></ion-icon>
        </button>
      </div>
    </form>

    <ul class="header__icons">
      <li class="header__icon-container">
        <ion-icon
          name="person-outline"
          class="header__icon header__icon--inactive header__profile-icon"
        ></ion-icon>
      </li>

      <li class="header__icon-container">
        <ion-icon
          name="basket-outline"
          class="header__icon header__icon--inactive header__cart-icon"
        ></ion-icon>
      </li>

      <li class="header__icon-container">
        <ion-icon
          name="home-outline"
          class="header__icon header__icon--inactive header__home-icon"
        ></ion-icon>
      </li>
    </ul>
  </div>
</header>
<script>
  const addFunctionalitiesToHeader = () =>{
    const headerIcons = document.querySelector(".header__icons")
    updateHeaderIcon(headerIcons)
  }

  const updateHeaderIcon = (headerIcons) =>{
    const url = window.location.href
    const profileIcon = headerIcons.querySelector(".header__profile-icon")
    const cartIcon = headerIcons.querySelector(".header__cart-icon")
    const homeIcon = headerIcons.querySelector(".header__home-icon")
    if(url.includes("me")){
        profileIcon.classList.remove("header__icon--inactive")
        cartIcon.classList.add("header__icon--inactive")
        homeIcon.classList.add("header__icon--inactive")
    }
    else if (url.includes("orders")){
        profileIcon.classList.add("header__icon--inactive")
        cartIcon.classList.remove("header__icon--inactive")
        homeIcon.classList.add("header__icon--inactive")
    }
    else {
        profileIcon.classList.add("header__icon--inactive")
        cartIcon.classList.add("header__icon--inactive")
        homeIcon.classList.remove("header__icon--inactive")
    }
  }

  addFunctionalitiesToHeader()

</script>