<header class="header">
  <div class="header__content">
    <p class="header__shop-name">Kim Bien</p>
    <div class="header__search-bar">
      <input class="header__input" type="text" placeholder="Search an item" />
      <ion-icon name="search-outline" class="header__icon"></ion-icon>
    </div>

    <ul class="header__icons">
      <li class="header__icon-container">
        <ion-icon
          name="person-outline"
          class="header__icon header__icon--inactive header__profile-icon"
        ></ion-icon>
      </li>

      <li class="header__icon-container">
        <ion-icon
          name="basket-outline"
          class="header__icon header__icon--inactive header__cart-icon"
        ></ion-icon>
      </li>

      <li class="header__icon-container">
        <ion-icon
          name="home-outline"
          class="header__icon header__home-icon"
        ></ion-icon>
      </li>
    </ul>
  </div>
  <h1> {{test}} </h1>
</header>