<div class="row">
  <div class="col-lg-5 left">
    <img
      class="thumbnail img-fluid"
      src="https://picsum.photos/800/1080"
      alt="Login image"
    />
  </div>
  <div class="col-lg-7 right">
    <div class="content">
      <div class="brand">KIM BIEN</div>
      <div class="slogan">Everything you need and more!</div>

      <form action="/api/v1/users/login" method="post" id="LoginForm">
        <label for="username" class="form-label"> Username </label>
        <input
          type="text"
          class="mb-4 form-control"
          id="username"
          name="username"
        />

        <label for="password" class="form-label"> Password </label>
        <input
          type="password"
          class="mb-5 form-control"
          id="pasword"
          name="password"
        />
        <button type="submit" class="btn text-white lgbtn">Login</button>
      </form>

      <hr />
      <div class="text-center">
        <a class="btn subtn" href="./signup">Create new account</a>
      </div>
    </div>
  </div>
</div>