<!-- Page numbers -->
<nav class="pageChanger container-fluid">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link rounded-circle">&laquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle active" >1</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >2</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >3</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >4</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >5</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >6</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" >&raquo;</a>
    </li>
  </ul>
</nav>