<!-- Page numbers -->
<nav class="pageChanger container-fluid">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link rounded-circle active" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link rounded-circle" href="#">6</a>
    </li>
  </ul>
</nav>