<section class="section-content py-3">
  <div class="row">
    <aside class="col-lg-3">
      <nav class="sidebar pb-2 my-4">
        <ul class="nav flex-column px-4" id="nav_accordion">
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between profile__product-profile-link"
              data-bs-toggle="collapse"
              data-bs-target="#menu_item1"
              href="#"
            >
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between profile__product-manager-link"
              data-bs-toggle="collapse"
              data-bs-target="#menu_item2"
              href="#"
            >
              Product Manager
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between profile__product-profit-link"
              data-bs-toggle="collapse"
              data-bs-target="#menu_item3"
              href="#"
            >
              Profit summary
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main class="col-lg-9">
      <div class="content">
        <p>Product</p>
        <h1>My Products</h1>
        <button class="btn btn--add text-white">ADD ITEMS</button>
        <div class="row">
          <div class="col-lg-6 row">
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
            <a href="./singleProduct.html" class="row">
              <div class="col-lg-5">
                <img
                  src="https://swagger.com.vn/wp-content/uploads/2021/07/louis-vuitton-passy-monogram-bag-1.jpg"
                  width="150"
                  height="150"
                  alt="Product thumbnail"
                />
              </div>
              <div class="col-lg-7">
                <p class="product--name">Túi xách LV</p>
                <p class="product--price">1000$</p>
                <p class="product--date">03/04/2022</p>
              </div>
            </a>
          </div>
        </div>

        <nav class="pageChanger container-fluid">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link active" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
          </ul>
        </nav>
      </div>
    </main>
  </div>
</section>