<div class="row">
      <div class="col-lg-5 left">
        <img
          class="thumbnail"
          src="https://picsum.photos/1000/1200"
          alt="Login image"
        />
      </div>
      <div class="col-lg-7 right">
        <div class="content">
          <div class="brand">KIM BIEN</div>
          <div class="slogan mb-5">Everything you need and more!</div>

          <form>
            <label for="InputUsername" class="form-label"> Username </label>
            <input type="text" class="mb-4 form-control" id="InputUsername" />

            <label for="InputPassword" class="form-label"> Password </label>
            <input
              type="password"
              class="mb-4 form-control"
              id="InputPassword"
            />

            <label for="ConfirmPassword" class="form-label">
              Confirm password
            </label>
            <input
              type="password"
              class="mb-5 form-control"
              id="ConfirmPassword"
            />
            <button type="submit" class="btn text-white lgbtn">Sign Up</button>
          </form>

          <hr />
          <div class="text-center">
            <a class="btn subtn" href="./login">Login</a>
          </div>
        </div>
      </div>
</div>