<header class="header">
  <div class="header__content">
    <p class="header__shop-name">Kim Bien</p>
    <div class="header__search-bar">
      <input class="header__input" type="text" placeholder="Search an item" />
      <ion-icon name="search-outline" class="header__icon"></ion-icon>
    </div>

    <div class="header__auth-container">
      <p class="header__auth-button header__auth-button--login">Login</p>
      <p class="header__auth-button header__auth-button--signup">Signup</p>
    </div>
  </div>
</header>